/* Importation des polices */

/* Police Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Police Raleway */
/* Regular */
@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-Bold.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}


/* Initialisation des polices */
/* Le body */
body {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
}

/* Les titres */
h1 {
    font-family: "Raleway", sans-serif;
    font-size: 3.1rem;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    color: #17abb3;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
}